{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}list.halls.new.title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>
        {% trans %}list.halls.new.create{% endtrans %}
    </h1>

    {{ include('halls/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('halls_index') }}">
        {% trans %}form.back.all{% endtrans %}
    </a>
{% endblock %}
