{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.objectAddress.new.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}list.objectAddress.new.create{% endtrans %}</h1>

    {{ include('object_address/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('object_address_index') }}">
        {% trans %}form.back{% endtrans %}
    </a>
{% endblock %}
