{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}form.edit{% endtrans %} {% trans %}form.title.machines{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}form.edit{% endtrans %} {% trans %}form.title.machines{% endtrans %}</h1>

    {{ include('machines/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary" href="{{ path('machines_index') }}">
        {% trans %}form.back{% endtrans %}
    </a>

    {{ include('machines/_delete_form.html.twig') }}
{% endblock %}
