{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.todo.new.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}list.todo.new.create{% endtrans %}</h1>

    {{ include('todo/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('todo_index') }}">
        {% trans %}form.back{% endtrans %}
    </a>
{% endblock %}
