{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}form.edit{% endtrans %} {% trans %}form.title.machines_groups{% endtrans %}
{% endblock %}

{% block body %}
    <h1>
        {% trans %}form.edit{% endtrans %} {% trans %}form.title.machines_groups{% endtrans %}
    </h1>

    {{ include('machines_groups/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary" href="{{ path('machines_groups_index') }}">
        {% trans %}form.back{% endtrans %}
    </a>

    {{ include('machines_groups/_delete_form.html.twig') }}
{% endblock %}
