{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.machines_groups.new.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>
        {% trans %}list.machines_groups.new.create{% endtrans %}
    </h1>

    {{ include('machines_groups/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('machines_groups_index') }}">
        {% trans %}form.back.all{% endtrans %}
    </a>
{% endblock %}
