{% extends 'base.html.twig' %}

{% block title %}{% trans %}form.edit{% endtrans %} {% trans %}form.title.complaints{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}form.edit{% endtrans %} {% trans %}form.title.complaints{% endtrans %}</h1>

    {{ include('complaints/_form.html.twig', {'button_label': 'edit'}) }}

    <a class="btn btn-outline-primary" href="{{ path('complaints_index') }}">
        {% trans %}form.back.all{% endtrans %}
    </a>

    {{ include('complaints/_delete_form.html.twig') }}
{% endblock %}
