{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.complaints.new.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}list.complaints.new.create{% endtrans %}</h1>

    {{ include('complaints/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('complaints_index') }}">
        {% trans %}form.back.all{% endtrans %}
    </a>
{% endblock %}
