{% extends 'base.html.twig' %}

{% block title %}{% trans %}form.edit{% endtrans %} {% trans %}form.title.orders{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}form.edit{% endtrans %} {% trans %}form.title.orders{% endtrans %}</h1>

    {{ include('orders/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary" href="{{ path('orders_index') }}">
        {% trans %}form.back.all{% endtrans %}
    </a>

    {{ include('orders/_delete_form.html.twig') }}
{% endblock %}
