{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.orders.new.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}list.orders.new.create{% endtrans %}</h1>

    {{ include('orders/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('orders_index') }}">
        {% trans %}form.back{% endtrans %}
    </a>
{% endblock %}
