{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.user.new.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}list.user.new.create{% endtrans %}</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('user_index') }}">
        {% trans %}form.back{% endtrans %}
    </a>
{% endblock %}
